/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&family=Roboto:wght@300;400;500;900&display=swap');
/*Bootstrap Icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


html {
    /*Cores*/
    --primary-color: #056CF2;
    --text-color: #d9d9d9;
    --background-color: #121216;
    --lighter-text: #fff;
    --background-menu: rgba(18, 18, 22, 0.9);
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: var(--background-color);
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 30px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--lighter-text);
    font-size: 1.5rem;
    position: sticky;
    top: 0;   
    background-color: var(--background-color);
    border-bottom: solid 1px var(--primary-color);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

header a {
    text-decoration: none;
    color: var(--lighter-text)
}

header a i {
    font-size: 2rem;
    color: var(--primary-color);
}

.menu {
    display: none;
    font-size: 1rem;
    text-align: center;
}

.menu a {
    margin-left: 1rem;
    display: block;
}

.menu-mobile {
    position: fixed;
    z-index: 99;
    background-color: var(--background-menu);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    text-align: center;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
}

.closed {
    display: none;
}

.menu-mobile li {
    list-style: none;
    margin-top: 1.5rem;
}

.menu-button {
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    border: none;
    color: var(--lighter-text);
    font-size: 2rem;
}

h2{
    color: var(--lighter-text);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 3rem;    
}



.section-home {
    height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;    
}

.apresentacao {
    text-align: center;
}

.section-home h1,
.stack {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-top: 1.5rem;
    font-weight: 400;
}

.section-home .nome {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 600;
}

.section-home .avatar img {
    margin-top: 1rem;
    height: 200px;
}
.section-sobre{
    margin-bottom: 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-sobre p{
    max-width: 800px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;    
}

/*Responsividade*/
@media (min-width: 480px) {

    .apresentacao {
        text-align: left;
    }

    .section-home {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
}

@media (min-width: 769px) {
    .container {
        max-width: 1024px;
    }

    .menu-button {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .menu-mobile {
        display: none;
    }

    .section-home {
        align-items: center;
    }

    .section-home h1,
    .stack {
        font-size: 1.5rem;
    }

    .section-home nome {
        font-size: 2.5rem;
    }

    .section-home .avatar img {
        height: 300px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 100%;
        margin-left: 3rem;
        margin-right: 3rm;
    }
    
    .section-home .avatar img {
        height: 350px;
    }


}